*{
    margin: 0 auto;
    padding: 0 auto;
    font-family: 'Times New Roman';
}

#contenedor{
    width: 900px;
    height: 1200px;
    background-color: #d49e23;
    display: block;
}

#cabecera{
    height: 25%;
    background-color: #d9bd1f;
}

#navegacion{ 
    background-color: #713505;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

section{
    height: 30%;
}

#texto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}

#pie{
    height: 10%;
    width: 100%;
    background-color: #744607;
    font-size: medium;
    text-align: center;
   
}

aside{
    float: right;
    display: flex;
    position: relative;
    bottom: 150px;
    right: 60px;
}

article{

    float: left;

}

.encabezado{
    display: inline;
}

.navegacion{
    text-decoration: none;
    border: 1px solid;
    border-color: black;
    padding: 5px;

}


.textoa{
    text-align: justify;
    margin-right: 50px;
    padding-right: 40%;
}

.textob{
    text-align: justify;
    margin-left: 50px;
    padding-left: 40%;

}

ul{
    text-align: center;
    display: inline;
}

li{
    text-decoration: none;
    float: right;
}

img{
    width: 100px;
    height: 100px;
    border: 1px solid;
    margin-left: 5px;
    margin-right: 5px;
    
}

#aside2{
    float: left;
    display: flex;
    position: relative;
    bottom: 150px;
    right: -20px;
}

.tiulo{
    text-align: right;
}

